<?xml version="1.0"?>
<config>
  <modules>
    <Shopboard_Tracker>
      <version>0.0.1</version>
    </Shopboard_Tracker>
  </modules>
  <global>
    <models>
      <tracker>
        <class>Shopboard_Tracker_Model</class>
      </tracker>
    </models>
    <blocks>
      <tracker>
        <class>Shopboard_Tracker_Block</class>
      </tracker>
    </blocks>
    <helpers>
      <tracker>
        <class>Shopboard_Tracker_Helper</class>
      </tracker>
    </helpers>
    <!--
    <events>
      <checkout_cart_add_product_complete>
        <observers>
          <tracker>
            <type>singleton</type>
            <class>shopboard_tracker_model_observer</class>
            <method>handleUpdateCart</method>
          </tracker>
        </observers>
      </checkout_cart_add_product_complete>
      <checkout_cart_update_item_complete>
        <observers>
          <tracker>
            <type>singleton</type>
            <class>shopboard_tracker_model_observer</class>
            <method>handleUpdateCart</method>
          </tracker>
        </observers>
      </checkout_cart_update_item_complete>
      <checkout_cart_update_items_after>
        <observers>
          <tracker>
            <type>singleton</type>
            <class>shopboard_tracker_model_observer</class>
            <method>handleUpdateCart</method>
          </tracker>
        </observers>
      </checkout_cart_update_items_after>
    </events>
    -->
  </global>
  <frontend>
    <layout>
      <updates>
        <tracker>
          <file>shopboardtracker.xml</file>
        </tracker>
      </updates>
    </layout>
  </frontend>
  <adminhtml>
    <translate>
      <modules>
        <Shopboard_Tracker>
          <files>
            <default>Shopboard_Tracker.csv</default>
          </files>
        </Shopboard_Tracker>
      </modules>
    </translate>
  </adminhtml>
</config>
